html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;   
}

button {
    appearance: auto;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}

nav {
    background-color: #8cfd7e;
    font-family:'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 4.25em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;    
}

nav ul li.active a {
    background-color: transparent;
}


nav ul.hide {
    display: none;
}

.contentbox {
    display: block;
    margin: 10px auto;
    padding: 15px;
    background-color: #D3D3D3;
    font-family: 'Roboto', sans-serif;
    margin-left: 7.5em;
    margin-right:7.5em;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

header, h1 {
    font-size: 30px;
    text-transform: uppercase;
}

header, 
nav,
main, 
footer {
    max-width: auto;
    margin: 0 auto;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    color: #0d0d0d;
}

header {
    display: flex;
    align-items: center;
    background-color: #87CEEB;
}

header img {
    width: 100px;
    height: auto;
    display: block;
}

.h2main {
    text-align: center;
}
